
<div class="container-fluid">
  <div class="row title card">
    <div class="col-md-4"><h1>Employees</h1></div>
    
  </div>

  <div class="card">
      <div class="col-md-6">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input class="searchInput inputForm" type="text" placeholder="Search" aria-label="Search">
      </div>

      <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name (Job title)</th>
              <th scope="col">User Name</th>
              <th scope="col">Age</th>
              <th scope="col">Hire Date</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees | async; let i = index">
              <td *ngIf="employee != null">{{employee.nameEmployee}}({{employee.jobtitle.nameJob}})</td>
              <td *ngIf="employee != null">{{employee.username}}</td>
              <td *ngIf="employee != null">{{employee.age}}</td>
              <td *ngIf="employee != null">{{employee.hiredate}}</td>
              <td *ngIf="employee != null">
                <a [routerLink]="['/updateemployee',i]"
                    (click)="updateEmployee(i, employee)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/employee',i]"
                    (click)="viewEmployee(i)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a (click)="deleteEmployee(i)"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
      </table>
    
      <div class="row">
        <div class="col-md-4">
          <button type="button" 
                  class="btn btn-success inputForm"
                  [routerLink]="['/newemployee']">Add Employee</button>
        </div>
      </div>

  </div>
  

</div>
