.inputForm{ 
    margin: 15px;
}

.inputs{
    float: right;
    width: 160px;
    margin-left: 10px;
}

.form{
    width: 60%;
    margin: 20px;
}

.card{
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 10px gray;
}

.btn-group{
    width: 100px;
}

.inputArea:focus-within{
    background: #007bff;
}
