/* You can add global styles to this file, and also import other style files */


.container-fluid{
    padding-top: 2%;
    background-color: midnightblue;
    height: 800px;
}

.title{
    margin-bottom: 20px;
}

.card{
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 5px gray;
}

.inputForm{ 
    margin: 15px;
}